<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>
    <body>
        <form action="" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="Log in">
        </form>
        <script src="/scripts/script.js"></script>
    </body>
</html>